[Unit]
Description=Kati card access system service
Documentation=https://git.buk.cvut.cz/admins/kati

Requires=pigpio.service
After=syslog.target pigpio.service


[Service]
Type=simple
WorkingDirectory=/home/pi/kati
ExecStart=/usr/bin/python3 -u /home/pi/kati/start.py

StandardOutput=syslog
StandardError=syslog
SyslogLevel=info
SyslogIdentifier=kati

TimeoutStopSec=3
Restart=on-abnormal


[Install]
WantedBy=multi-user.target
